<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pac Contacts</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/fav-pac-contacts.png') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fav-pac-contacts.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="container">
        <h1 style="background-color:#edecec"><img src="{{ url_for('static', filename='img/pac-contacts.png') }}"
                alt="Pac Contacts" style="max-height: 100px; margin-bottom: -12px;" /></h1>

        <div id="status-message" style="display: none;"></div>

            <div class="form-section">
                <h2>1. Configurar Busca</h2>

                    <div>
                        <label for="segment-input">Segmento/Palavra-chave (Ex: Engenharia, Marketing)</label>
                        <input type="text" id="segment-input" placeholder="Ex: Engenharia" value="">
                    </div>

                    <h3>Locais para Pesquisa</h3>
                    <div id="location-list">
                    </div>

                    <button id="add-location">+</button>
                    <button id="start-scraping">BUSCAR CONTATOS</button>
            </div>


        <hr>

            <div class="results-section">
                    <h2>2. Contatos (<span id="contact-count">0</span>)</h2>
                    <button id="refresh-contacts">Atualizar Tabela</button>
                    <button id="download-csv">Baixar CSV</button>

            <div class="filter-group">
                <label for="segment-filter">Buscar:</label>
                <input type="text" id="segment-filter" placeholder="Digite para filtrar a tabela...">
            </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th class="phone-column">Telefone</th>
                                <th>Endereço</th>
                                <th>Segmento</th>
                            </tr>
                        </thead>
                        <tbody id="contacts-table-body">
                        </tbody>
                    </table>

                     <div class="pagination-controls">
                             <button id="prev-page" disabled>Anterior</button>
                             <span>    Página <span id="current-page">1</span> de <span id="total-pages">1</span></span>
                                <button id="next-page" disabled>Próxima</button>
                    </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>